 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }


 @media only screen and (min-width: 325px) {
    /* phones */    
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: black;
        text-align: left;
        line-height: 1.5;
        background: url('https://cdn.wallpapersafari.com/50/5/dq9ycV.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    h1 {
        font-size: 32px;
        color: #072f37;
        text-shadow: 1px 1px whitesmoke;
        text-align: center;
    }
    
    h2 {
        color: #334f3b;
        text-shadow: 1px 1px whitesmoke;
        font-size: 24px;
        text-align: center;
        padding: 10px 0;

    }
    .aboutTitle, .projectsTitle {
        font-size: 22px;
        text-align: left;
        padding: 40px 15px;
        color: #bd7423;
        text-shadow: 1px 1px #c8cbbf;
    }

    
    footer {
        padding: 1% 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        text-align: right;
    }


    li a {
        text-align: center;
        list-style: none;
        font-size: 16px;
    }


}

 /* ----- NAV BAR STYLES -------- */
 
 #menuLinks {
     position: inline-block;
     background: #334f3b;
     width: 100%;
     font-family: 'Montserrat', sans-serif;
     font-size: 36px;
     font-style: bold;
     text-align: center;
     position: fixed;
     opacity: 85%;
     z-index: 1;

 }
 
 .nav-links {
     text-decoration: none;
     color: #c8cbbf;
     padding: 30px 20px;
     display: inline-block;
 }
 
 .nav-links:hover {
     font-weight: bold;
     color: whitesmoke;
     text-shadow: 1px 1px black;
 }
 
 /* SEPARATOR  STYLES */
 
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid #65816d;
    border-bottom: 1px solid #334f3b;
}
 /* HERO  STYLES */
 
 .hero {
     position: block;
     padding-top: 200px;
     padding-bottom: 200px;
 }
 .image-crop {
     width: 300px;
     height: 300px;
     overflow: hidden;
     border-radius: 50%;
     margin: 0 auto;
     border: 5px solid #bd7423;
 }
 
 .profile-pic {
     height: 100%;
     width: auto;
 }
 /* SECTION STYLES */
 
 .bio, .projects {
     height: auto;
     background-color: whitesmoke;
     text-align: center;
     opacity: 85%;
 }

 .aboutMe, .connecting {
     text-align: left;
     padding: 10px 10px 50px 10px;
     font-size: 16px;
 }
 
 .contact {
     height: 400px;
     padding: 50px 0;
     text-align: center;

 }


 .connecting {
    text-align: center;
    padding: 30px 5px;
    font-size: 16px;
    color: black;
 }

 .connectTitle {
    font-size: 22px;
    text-align: left;
    padding: 0 5px 20px;
    color: #072f37;
    text-shadow: 1px 1px #c8cbbf;
}
 
 .contactIcons {
     text-align: center;
    margin: 0 20px;
 }
 
 .icon {
     max-width: 72px;
     max-height: 76px;
     padding: 15px;
 }

 /* PROJECT CARD  STYLES */



.porfolio-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.projectName {
    color: #072f37;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 0 5px 0;
}

.portfolio-img {
    height: 50px;
    width: 50px;
    
}
  .project-box, .project-box2, .project-box3 {
    height: 350px;
    width: 80%;
    color: #000;
    width: 100%;
    border: 2px solid #334f3b;
    margin-bottom: 20px;
}

.project-box {
    background: url('./quizapp.png');
    background-repeat: no-repeat;
    background-size: 300px 200px;
    background-position: center bottom; 
}

.project-box2 {
    background: url('./pawprintPreview.png');
    background-repeat: no-repeat;
    background-size: 300px 200px;
    background-position: center bottom; 
}

.projectDescription {
      color: #000;
      font-size: 12px;
      padding: 0 10px;
    }


    /* TABLET AND DESKTOP */
    /* TABLET AND DESKTOP */
        /* TABLET AND DESKTOP */
            /* TABLET AND DESKTOP */
                /* TABLET AND DESKTOP */
                    /* TABLET AND DESKTOP */
                        /* TABLET AND DESKTOP */
                            /* TABLET AND DESKTOP */
                                /* TABLET AND DESKTOP */
                                    /* TABLET AND DESKTOP */
                                        /* TABLET AND DESKTOP */
                                            /* TABLET AND DESKTOP */
                                                /* TABLET AND DESKTOP */

 @media only screen and (min-width: 768px)  {
    /* tablets and desktop */

    main {
        padding: 0 100px;
    }
    .aboutTitle, .projectsTitle, .connectTitle {
        font-size: 22px;
        text-align: left;
        padding: 40px 30px;
        color: #bd7423;
        text-shadow: 1px 1px #c8cbbf;
    }
   
    .connectTitle {
       color: #072f37;
       text-shadow: 1px 1px #c8cbbf;
   }

 /* PROJECT CARD  STYLES */


.projects {
   display: block;
}


.projectName {
    color: #072f37;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 0 5px 0;
}


  .project-box, .project-box2, .project-box3 {
    height: 350px;
    color: #000;
    border: 2px solid #334f3b;

}


.project-box {
    background: url('./quizapp.png');
    background-repeat: no-repeat;
    background-size: 300px 200px;
    background-position: center bottom; 
}

.project-box2 {
    background: url('./pawprintPreview.png');
    background-repeat: no-repeat;
    background-size: 300px 200px;
    background-position: center bottom; 
}

.projectDescription {
      color: #000;
      font-size: 12px;
      padding: 0 10px;
    }


 
   /* TABLET AND DESKTOP */
    /* TABLET AND DESKTOP */
        /* TABLET AND DESKTOP */
            /* TABLET AND DESKTOP */
                /* TABLET AND DESKTOP */
                    /* TABLET AND DESKTOP */
                        /* TABLET AND DESKTOP */
                            /* TABLET AND DESKTOP */
                                /* TABLET AND DESKTOP */
                                    /* TABLET AND DESKTOP */
                                        /* TABLET AND DESKTOP */
                                            /* TABLET AND DESKTOP */
                                                /* TABLET AND DESKTOP */

 @media only screen and (min-width: 1100px)  {
    /* tablets and desktop */
  

 /* PROJECT CARD  STYLES */


.porfolio-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}



  .project-box, .project-box2, .project-box3 {
    width: 30%;
}



 

 
 